body
{
	color:#666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-image:url(../imgs/footer_lodyas.png);
	background-size: 100% auto;
	background-position: top;
	text-align:center;
	background-attachment: fixed;
}
.wrapper {
	background-color: #fff;
	max-width: 980px;
	margin: 0 auto;
	display: block;
	padding: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
header{
	max-width:800px;
	background-color:#FFF;
	margin:0 auto;
	padding:0 3.5%;
	padding-top:25px;
	display:block;
	text-align:center;
	vertical-align:middle;
	height:auto;
}
#linea{
	max-width:800px;
	margin: 0 auto;
	padding-top: 7px;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	clear:both;
}
#linea_2{
	max-width:800px;
	margin: 0 auto;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	clear:both;
}
#logo{
	display:inline-block;
	vertical-align:center;
	width:245px;
	height:auto;
	margin:0;
	float:left;
	text-align:left;
	color:#BBB;
	font-style:italic;
}
#logo a{
	color:#666;
}
nav{
	display:inline-block;
	vertical-align:top;
	width:auto;
	padding:0;
	float:right;
	height:122px;
	text-align:center;
}

nav ul{
	margin:0;
	padding:0;
}

nav li{
	font-family:Verdana, Geneva, sans-serif;
	display:inline-block;
	vertical-align:middle;
	margin:0;
	margin-right:18px;
	margin-top:39px;
	color: #00BFB4;
	padding:0;
	list-style:none;
}

nav a:link{
	text-decoration:none;
	color: #00BFB4;
}

nav a:visited{
	text-decoration:none;
	color: #00BFB4;
}

nav a:hover{
	text-decoration:none;
	color: #CCC;
	font-style:italic;
}

nav a:active{
	text-decoration:none;
	color: #00BFB4;
}

nav li:last-child{
	margin-right:0;
}

.slider_in_index{
	max-width:800px;
	background-color:#FFF;
	margin:0 auto;
	padding:0 3.5%;
	text-align:center;
	padding-bottom:1px;
	padding-top:22px;
}

.index{
	max-width:800px;
	background-color:#FFF;
	margin:0 auto;
	padding:0 3.5%;
	text-align:left;
	padding-bottom:32px;
}

.index ul{
	margin:0;
	padding:0;
	text-align: center;
}

.index li{
	display:inline-block;
	vertical-align:top;
	width:240px;
	font-size:13px;
	color:#BBB;
	margin:0 1.5%;
	margin-top:35px;
	padding:0;
	text-align:center;
	list-style:none;
	list-style-position:0;
}

.index a{
	width:240px;
	display:block;
	font-size:14px;
	margin-bottom: 3px;
	}

.index a:link{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	color:#ccc;
	text-decoration: none;
}
	
.index a:visited{
	color:#BBB;
	}	
	
.index a:hover{
	color:#00BFB4;
	}	

.index a:active{
	color:#00BFB4;
	}

.index img{
	border:1px solid #C4C4C4;
	width: 100%;
	}

.index img:hover{
	border:1px solid #00BFB4;
	}
.index h2{
	margin:0;
	padding:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:23px;
	margin-bottom:-10px;
	font-weight:normal;
	font-size: 26px;
	text-align:center;
	color:#00BFB4;
	font-style: italic;	
}

.contenido{
	margin:0;
	padding:0 3.5%;
	max-width:800px;
	background-color:#FFF;
	margin:0 auto;
	text-align:center;
	padding-bottom:24px;
	font-size:16px;
	line-height: 23px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
}

.contenido h2{
	margin:0;
	padding:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:23px;
	margin-bottom:-10px;
	font-weight:normal;
	font-size: 26px;
	text-align:center;
	color:#00BFB4;
	font-style: italic;
}

.contenido h3{
	margin:0;
	padding:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-style: italic;	
	font-size: 20px;
	color:#000;
	text-align:left;
	margin-top:25px;
	margin-bottom:10px;
}

.contenido p{
	padding:0;
	text-align:justify;
	font-style:normal;
	text-indent: 0px;
}

.contenido li{
	margin-left:-0.9%;
	padding:0;
	text-align:justify;
	font-style:normal;
	margin-bottom:3px;
}

.contenido li span{
	padding:0;
	text-align:justify;
	font-style:normal;
	color:#666;
}

.contenido div{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	color:#333;
	width:auto;
	margin-top:25px;
	font-size:17px;
	text-align:center;
	margin-bottom: 5px;
	display:block;
}

.contenido .img_700{
	border:1px solid #444;
	margin-bottom:-1px;
	width:88%;
}

.contenido .img_700_video{
	border:1px solid #444;
	margin-bottom:-1px;
	width:88%;
	height:88%;
}

.contenido .img_600{
	border:1px solid #444;
	margin-bottom:-1px;
	width:70%;
}

.contenido .img_500{
	border:1px solid #444;
	margin-bottom:-1px;
	width:54%;
}

.contenido .img_700_sin_borde{
	margin-bottom:-1px;
	width:88%;
}

.contenido .img_450_right{
	border:1px solid #444;
	margin-bottom:-1px;
	width:62%;
	margin-left:12px;
	margin-top:8px;
	float:right;
	clear:right;
}

.contenido .img_450_left{
	border:1px solid #444;
	margin-bottom:-1px;
	width:62%;
	margin-right:12px;
	margin-top:8px;
	float:left;
	clear:left;
}


.contenido .img_350_right{
	border:1px solid #444;
	margin-bottom:-1px;
	width:44%;
	margin-left:12px;
	margin-top:8px;
	float:right;
	clear:right;
}

.contenido .img_350_left{
	border:1px solid #444;
	margin-bottom:-1px;
	width:44%;
	margin-right:12px;
	margin-top:8px;
	float:left;
	clear:left;
}

.contenido .img_350_right_div{
	margin-bottom:-1px;
	width:44%;
	margin-left:5px;
	margin-right:12px;
	margin-top:8px;
	float:right;
	clear:right;
}

.contenido .img_350_right_div img{
	border:1px solid #444;
	width:100%;
}

.contenido .img_350_left_div{
	margin-bottom:-1px;
	width:44%;
	margin-right:5px;
	margin-left:12px;
	margin-top:8px;
	float:left;
	clear:left;
}

.contenido .img_350_left_div img{
	border:1px solid #444;
	width:100%;
}

.contenido .resaltado{
	padding:0;
	text-align:justify;
	color:#666;
	font-style:normal;
}

.contenido a{
	color:#000;
}

footer{
	font-family:Verdana, Geneva, sans-serif;
	max-width:800px;
	height:130px;
	background-color:#FFF;
	margin:0 auto;
	padding:0 3.5%;
	text-align:right;
	font-size:13px;
	color:#B8B8B8;
	vertical-align:middle;
}

footer div{
	margin-top:53px;
}

footer a:link{
	color:#B8B8B8;
}

footer a:hover{
	color:#B8B8B8;
}

footer a:visited{
	color:#B8B8B8;
}

footer span{
	color:#000;
}

#activo{
	color:#CCC;
	font-style:italic;
}

 #balloon { 
 	display: block;
	position: absolute;
	padding: 10px;
	z-index: 2;
	width: 100px;
	height: 61px;
 	-moz-border-radius: 10px; 
 	-webkit-border-radius: 10px; 
 	border-radius: 10px; 
 } 

 #balloon:before { 
 	content:""; 
 	position: absolute; 
 	right: 100%; 
 	top: 26px; 
 	width: 0; 
 	height: 0; 
 	border-top: 13px solid transparent; 
 	border-right: 26px solid white; 
 	border-bottom: 13px 
 	solid transparent; 
 }

 div#fat-dim-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	display: none;
	z-index: 1;
}

.fat-focused-elm{
	position: relative;
	z-index: 2;
	background: #fff;
}