@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.app-wrapper {
  --body-background: 255, 255, 255;
  --font-color: 45, 49, 71;
  background-color: rgb(var(--body-background));
  color: rgb(var(--font-color));
}

.dark-theme {
  --body-background: 45, 49, 71;
  --font-color: 255, 255, 255;
}

.text-color {
  color: rgb(var(--font-color));
}

.cu-hr {
  width: 80px;
  background: linear-gradient(90deg, rgba(228,115,57,1) 0%, rgba(222,188,26,1) 100%);
  height: 2px;
  border-top: 0;
}

@media screen and (min-width: 540px) {
  .cu-hr {
    width: 115px;
  }
}
